<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="basic" label="COM_SOMOVIEDB_CONF_BASIC">
		<field type="text" name="movies_limit" default="12" label="COM_SOMOVIEDB_CONF_MOVIE_LIMIT" description="COM_SOMOVIEDB_CONF_MOVIE_LIMIT_DESC"/>
		<field name="movie_columns" type="list" default="4" label="COM_SOMOVIEDB_CONF_MOVIE_COLUMNS" description="COM_SOMOVIEDB_CONF_MOVIE_COLUMNS_DESC">
			<option value="3">3</option>	
			<option value="4">4</option>	
		</field>
		<field type="text" name="review_limit" default="12" label="COM_SOMOVIEDB_CONF_REVIEW_LIMIT" description="COM_SOMOVIEDB_CONF_REVIEW_LIMIT_DESC" />

		<field name="spacer1" type="spacer" hr="true" />
		<field type="text" name="celebrities_limit" default="12" label="COM_SOMOVIEDB_CONF_CELEBRITIES_LIMIT" description="COM_SOMOVIEDB_CONF_MOVIE_LIMIT_DESC" />
		<field name="celebrities_columns" type="list" default="4" label="COM_SOMOVIEDB_CONF_CELEBRITIES_COLUMNS" description="COM_SOMOVIEDB_CONF_CELEBRITIES_COLUMNS_DESC">	
			<option value="3">3</option>	
			<option value="4">4</option>	
		</field>

		<field name="spacer2" type="spacer" hr="true" />
		<field type="text" name="search_limit" default="12" label="COM_SOMOVIEDB_CONF_SEARCH_ITEM_LIMIT" description="COM_SOMOVIEDB_CONF_SEARCH_ITEM_LIMIT_DESC" />
		<field name="search_columns" type="list" default="4" label="COM_SOMOVIEDB_CONF_SEARCH_ITEM_COLUMNS" description="COM_SOMOVIEDB_CONF_SEARCH_ITEM_COLUMNS_DESC">
			<option value="3">3</option>	
			<option value="4">4</option>	
		</field>

		<field name="spacer3" type="spacer" hr="true" />
		<field type="text" name="trailer_limit" default="12" label="COM_SOMOVIEDB_CONF_TRAILERS_LIMIT" description="COM_SOMOVIEDB_CONF_TRAILERS_LIMIT_DESC" />
		<field name="trailer_columns" type="list" default="4" label="COM_SOMOVIEDB_CONF_TRAILERS_COLUMNS" description="COM_SOMOVIEDB_CONF_TRAILERS_COLUMNS_DESC">
			<option value="3">3</option>	
			<option value="4">4</option>	
		</field>
	</fieldset>

	<fieldset name="licenseupdate">
		<field name="joomshaper_email" type="email" label="COM_SOMOVIEDB_CONF_JOOMSHAPER_EMAIL" description="COM_SOMOVIEDB_CONF_JOOMSHAPER_EMAIL_DESC" />
		<field name="joomshaper_license_key" type="text" label="COM_SOMOVIEDB_CONF_JOOMSHAPER_LICENSE_KEY" description="COM_SOMOVIEDB_CONF_JOOMSHAPER_LICENSE_KEY_DESC" />
	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" filter="rules" component="com_spmoviedb" section="component" />
	</fieldset>	
</config>