body {
  color: #e3e3e3;
}
body,
.modal-content {
  background-color: #151515;
}
#sp-header {
  background-color: #252525;
}
#sp-header #searchword,
#sp-header select {
  background-color: #252525;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #151515;
  border-color: #333333;
  color: #e3e3e3;
}
a,
a:focus,
.spmoviedb-trailers .movie-title a:hover,
.spmoviedb-tab .owl-controls .owl-prev:hover::after,
.spmoviedb-tab .owl-controls .owl-next:hover::after,
.view-searchresults .moviedb-view-top-wrap .search-result-title :before,
.comingsoon-footer .social-icons li a :hover,
.sppb-addon-moview-title:hover:after,
#offcanvas-toggler > i :hover,
ul.social-icons > li a:hover,
.sp-module ul > li > a:hover,
.sp-module .latestnews > div > a:hover,
#spmoviedb-movie .movie-name a:hover,
#spmoviedb-movie .item .movie-details a:hover,
#spmoviedb-movie .item:hover .play-icon:hover,
.celebritie-details .celebritie-name a:hover,
.view-movie .sppb-trailer-modal-item a:hover,
.view-celebrity .sppb-trailer-modal-item a:hover,
.view-trailers .spmoviedb-trailer-item-details .spmoviedb-movie-title a:hover,
.movie-details-wrap .movie-info-sidebar a:hover,
.celebrity-details-wrap .celebrity-info-sidebar a:hover,
.user-reviews .reviewers-review .reviewers-name a:hover,
.movie-showtime .category-list a:hover,
.movie-showtime .movie-schedule .address i,
.recommend-movies .movie-details a:hover,
.sp-moviedb-view-items .item .movie-name a:hover,
.spmoviedb-tab .movie-details .movie-name a:hover,
.voting-symbol span.star.active:before,
.pagination > li .active > a
.pagination > li .active > a:hover,
.pagination > li .active > a:focus,
.pagination > li .active > span,
.pagination > li .active > span:hover,
.pagination > li .active > span:focus,
.moview-before-title-icon,
.spmoviedb-title .more-details a:hover
.spmoviedb-title .more-details a:hover :after,
.login .form-links a:hover,
.login .form-links a:active,
.login .form-links a:focus,
.sp-moviedb-login .sp-login i.sp-moview-icon-user,
.sp-moviedb-login .sp-signin i.sp-moview-icon-user,
.sp-moviedb-login a:hover,
.sppb-addon-articles .sppb-addon-title:before,
.spmoviedb-twitter .sppb-tweet-slider .sppb-twitter-item-info a:hover,
.spmoviedb-trailer-item .play-icon:hover,
.basic-movie-info .sppb-addon-feature .sppb-media-body .continue:hover,
.basic-movie-info .sppb-addon-feature .sppb-media-body .continue:hover:after,
.mod-spmoviedb-celebrities .moviedb-celebrity-info .moviedb-celebrity-name a:hover,
.view-category article.item .entry-header-wrapper .entry-header .entry-title-info-wrap dl.article-info dd a:hover,
.view-article article.item .entry-header-wrapper .entry-header .entry-title-info-wrap dl.article-info dd a:hover,
.view-category article.item .entry-header-wrapper .entry-header .entry-title-info-wrap h2:hover a,
.view-article article.item .entry-header-wrapper .entry-header .entry-title-info-wrap h2:hover a,
.view-article .article-item-header-wrapper .entry-header-title-wrap .entry-header dl.article-info dd a:hover,
.sp-page-title .breadcrumb >.active,
.sp-page-title .breadcrumb >span >li > li+li:before >li>a:hover,
.btn.jmodedit,
a.sppb-title-link:hover,
a.sppb-title-link:hover:after,
.sp-spmoviedb-trailers .sppb-addon-moview-title a.sppb-title-link:hover,
.sp-spmoviedb-trailers .sppb-addon-moview-title a.sppb-title-link:hover:after,
.moviedb-filters ul > li > a:hover,
.btn-link,
.close-offcanvas:hover,
.moviedb-filters ul > li.active > a,
.pagination >li.active >a,
.pagination >li.active >a:hover,
.spmoviedb-tab .item:hover .play-icon:hover,
.view-movies .item:hover .play-icon:hover,
.view-trailers .item:hover .play-icon:hover,
.view-celebrities .item:hover .play-icon:hover,
.sp-spmoviedb-trailers-info .spmoviedb-trailer-info-block .spmoviedb-genry a:hover,
.view-trailers .spmoviedb-trailer-item-details .trailer-genres a:hover,
.movie-info .spmoviedb-genre-title:hover,
.sp-moviedb-login .sp-login a:hover {
  color: #9ee622;
}
.view-article ul.pagenav li > a {
  border: 1px solid #9ee622;
}
.moviedb-filters ul > li.active > a {
  border-bottom-color: #9ee622;
}
ul.splms-courses-search li a:hover i,
.moviedb-social-bar > li a:hover {
  color: #9ee622 !important;
}
a:hover,
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before,
.btn-link:hover {
  color: #81bf16;
}
.sp-module .tagscloud .tag-name:hover,
#spmoviedb-movie .owl-controls .owl-prev,
#spmoviedb-movie .owl-controls .owl-next,
#spmoviedb-movie .owl-dots .owl-dot.active span,
#spmoviedb-movie .owl-dots .owl-dot:hover span,
.slider-nav-thumbnails .slick-slide.slick-current,
.spmoviedb-tab .nav-tabs > li > a:after,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover,
.entry-link,
.entry-quote,
.post-format,
.search .btn-toolbar button,
.carousel-left:hover,
.carousel-right:hover,
.view-profile .profile .btn-toolbar .btn,
.view-profile button,
.sppb-addon-articles .sppb-addon-article:hover .sppb-meta-category,
.sppb-addon-articles .article-info .sppb-meta-category:hover,
.view-category article.item .entry-details-wrapper p.readmore a.btn,
.view-article article.item .entry-details-wrapper p.readmore a.btn,
.view-article .article-item-header-wrapper .entry-header-title-wrap .entry-header .entry-date-wrapper,
.view-article ul.pagenav li > a,
.view-article ul.pagenav li > a:hover {
  background-color: #9ee622;
}
#spmoviedb-movie .owl-controls .owl-prev:hover,
#spmoviedb-movie .owl-controls .owl-next:hover,
.video-container .video-close:hover::before,
.video-container .video-close:hover::after {
  background-color: #72a813;
}
.view-category article.item .entry-details-wrapper p.readmore a.btn:hover,
.view-article article.item .entry-details-wrapper p.readmore a.btn:hover {
  background-color: #81bf16;
}
.sp-movie-celebrities .celebrity-thumbs button.celebrity-thumb-item.active:before,
.spmoviedb-flickr .sppb-flickr-gallery >li > a:after {
  background-color: rgba(158,230,34,0.5);
}
.view-category article.item .entry-header-wrapper:hover span.post-format,
.view-category article.item .entry-header-wrapper:hover .entry-date-wrapper,
.view-article article.item .entry-header-wrapper:hover span.post-format,
.view-article article.item .entry-header-wrapper:hover .entry-date-wrapper {
  background-color: rgba(158,230,34,0.7);
}
.sorting-by-alphabetical ul > li.active > a {
  border-bottom-color: #9ee622;
}
.video-container .video-close:hover,
.moviedb-sorting-wrap .sorting-by-category ul > li > a:hover,
.moviedb-sorting-wrap .sorting-by-category ul > li.active > a,
blockquote {
  border-color: #9ee622;
}
.btn-primary,
.sppb-btn-primary {
  background-color: #9ee622;
  box-shadow: inset 0px -1px 0px #72a813;
}
.btn-primary:after,
.sppb-btn-primary:after {
  background: linear-gradient(to top,#537b0e 0%,#9ce51d 70%);
  background: -webkit-linear-gradient(to top,#537b0e 0%,#9ce51d 70%);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.sppb-btn-primary:hover,
.sppb-btn-primary:focus,
.sppb-btn-primary:active {
  background-color: #81bf16;
  box-shadow: inset 0px -1px 0px #537b0e;
}
.btn-primary:hover:after,
.btn-primary:focus:after,
.btn-primary:active:after,
.sppb-btn-primary:hover:after,
.sppb-btn-primary:focus:after,
.sppb-btn-primary:active:after {
  background: linear-gradient(to top,#344d09 0%,#81bf16 70%);
  background: -webkit-linear-gradient(to top,#344d09 0%,#81bf16 70%);
}
.sppb-addon-moview-title,
.input-group.moviedb-search-wrap,
#moviedb-search .search-panel .select-menu,
.spmoviedb-title,
.basic-movie-info .sppb-addon-text-block,
.moview-top-celebraties .sppb-addon-text-block,
.modal-footer,
.movie-showtime .movie-schedule,
.spmoviedb-filmography ul.spmoviedb-film-list > li {
  border-color: #333333;
}
.spmoviedb-title .more-details a::after {
  color: #333333;
}
.offcanvas-menu .offcanvas-inner .sp-module .sp-module-title,
.sppb-addon-articles .article-info .article-title a,
.sppb-article-meta span,
.mod-spmoviedb-celebrities .moviedb-celebrity-info .moviedb-celebrity-name a,
.sorting-by-alphabetical .select-menu select,
.sorting-by-alphabetical .select-menu::after,
.recommend-movies .movie-details a,
.movie-info-sidebar .movie-social-icon > span,
.celebrity-info-sidebar .movie-social-icon > span,
.spmoviedb-filmography ul.spmoviedb-film-list > li .details a,
.spmoviedb-tab .nav-tabs > li > a,
#sp-login .sp-mod-login .sp-signin a,
.sp-moviedb-login .sp-login a,
.sp-moviedb-login .sp-signin a,
.sp-moviedb-login .modal-content .modal-body .forget-name-link a,
#offcanvas-toggler > i,
.sp-module ul > li > a,
.sp-module .latestnews >div > a,
.login .form-links a,
.pagination >li >a:hover,
.moviedb-filters ul > li > a,
.view-article .acticle-bottom-wrapper dd.post_rating,
.social-share-title p,
.entry-header h2 a,
legend {
  color: #e3e3e3;
}
.spmoviedb-tab .owl-controls .owl-nav:before {
  background-color: #333333;
}
.sorting-by-alphabetical ul > li.active > a,
.sorting-by-alphabetical ul > li:hover > a,
.sp-moviedb-view-items .item .movie-name a,
.movie-details-wrap .movie-info-sidebar a,
.celebrity-details-wrap .celebrity-info-sidebar a,
.celebritie-details .celebritie-name a,
.spmoviedb-tab .movie-details .movie-name a,
.sorting-by-alphabetical .total,
#sp-spmoviedb-tab .nav-tabs>li.active>a,
#sp-spmoviedb-tab .nav-tabs>li.active>a:hover,
#sp-spmoviedb-tab .nav-tabs>li.active>a:focus,
.spmoviedb-tab .nav-tabs > li > a:hover {
  color: #fdfdfd;
}
.sppb-addon-moview-title .sppb-title-link {
  color: #ffffff;
}
.sppb-addon-moview-title .sppb-title-link:after {
  color: #ffffff;
}
.acticle-bottom-wrapper {
  border-top: solid 1px #333333;
  border-bottom: solid 1px #333333;
}
.pagination {
  margin-bottom: 0;
}
.pagination >li >a,
.pagination >li >span {
  background-color: #151515;
  border-color: #333333;
}
.pagination >li >a:hover,
.pagination >li >a:focus,
.pagination >li >span:hover,
.pagination >li >span:focus {
  border-color: #333333;
}
.pagination >li.active >a,
.pagination >li.active >a:hover,
.pagination >li.active >a:focus,
.pagination >li.active >span,
.pagination >li.active >span:hover,
.pagination >li.active >span:focus {
  border-color: #333333;
}
.pagination>.disabled>a {
  border-color: #333333;
}
.pagination>.disabled>a:hover {
  border-color: #333333;
}
.user-reviews .review-box {
  background-color: #252525;
}
.user-reviews .review-box textarea {
  background-color: #292929;
  border-color: #333333;
}
.user-reviews .review-box textarea[disabled] {
  background-color: #eeeeee;
}
.user-reviews .review-box:before {
  border-color: transparent #252525 transparent transparent;
}
#reviewers-form-popup {
  background-color: #292929;
}
.view-article .article-item-header-wrapper .entry-header-title-wrap .entry-header .entry-date-wrapper {
  float: left;
}
.view-article ul.pagenav {
  margin: 0;
}
.view-article ul.pagenav li > a:hover {
  color: #fff;
}
.sp-megamenu-parent {
  background-color: #252525;
}
.sp-megamenu-parent li.sp-menu-item > a {
  color: #e3e3e3;
}
.sp-megamenu-parent li.sp-menu-item.active > a:not(.sp-group-title) {
  color: #e3e3e3;
  background-color: #151515;
}
.sp-megamenu-parent li.sp-menu-item >a {
  border-bottom: 1px solid #333333;
}
.sp-megamenu-parent .sp-dropdown .sp-dropdown-inner ul.sp-dropdown-items li {
  background-color: #252525;
  color: #e3e3e3;
}
.sp-megamenu-parent li.sp-menu-item >a:not(.sp-group-title):hover,
.sp-megamenu-parent li.sp-menu-item.active > a:not(.sp-group-title):hover {
  color: #e3e3e3;
  background-color: #151515;
}
.sp-megamenu-parent li.sp-menu-item >a:not(.sp-group-title):hover:after {
  color: #e3e3e3;
}
.offcanvas-menu {
  background-color: #252525;
}
.offcanvas-menu .offcanvas-inner .sp-module ul > li >a,
.offcanvas-menu .offcanvas-inner .sp-module ul > li:hover >a,
.offcanvas-menu .offcanvas-inner .sp-module ul > li.active >a {
  color: #e3e3e3;
}
.offcanvas-menu .sp-module ul > li .offcanvas-menu-toggler {
  color: #cacaca;
}
.sp-my-account-menu:hover ul.menu {
  background-color: #252525;
}
.sp-my-account-menu ul.menu a {
  color: #e3e3e3;
  border-bottom: solid 1px #333333;
}
.sp-my-account-menu ul.menu a:hover {
  background-color: #151515;
  color: #e3e3e3;
}
.sp-my-account-menu ul.menu >li.current a {
  background-color: #151515;
  color: #e3e3e3;
}
ul.spmoviedb-movie-search {
  background-color: #252525;
}
ul.spmoviedb-movie-search.show-thumb li a:hover .spmoviedb-search-movie-genres {
  color: #9ee622;
}
ul.spmoviedb-movie-search li a {
  color: #e3e3e3;
}
ul.spmoviedb-movie-search li {
  border-bottom: solid 1px #333333;
  color: #e3e3e3;
}
ul.spmoviedb-movie-search li a:hover {
  color: #e3e3e3;
}
.view-trailers .spmoviedb-trailer-item-details .spmoviedb-movie-title a {
  color: #e3e3e3;
}
.view-trailers .moviedb-trailer-loader,
.view-trailers #movie-trailer-video .trailers-videos {
  background-color: #252525;
}
.view-trailers .sp-moviedb-view-items .item.active:before {
  border-bottom-color: #252525;
}
.moviedb-signal-animate {
  border-color: #9ee622;
}
.sp-module .latestnews >div {
  border-bottom: 1px solid #333333;
}
.page-header,
.nav-tabs {
  border-bottom: solid 1px #333333;
}
.accordion-group {
  border: 1px solid #333333;
}
legend,
.blog-featured legend {
  border-bottom: solid 1px #333333;
}
.accordion-inner {
  border-top: solid 1px #333333;
}
table.category tbody >tr {
  border: 1px solid #333333;
}
.chzn-container .chzn-results li.active-result {
  color: #151515;
}
